body{
    margin: 0;
    padding: 0;
    background-color: gainsboro;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: papayawhip;
    height: 80vh;
    width: 50vh;
    border-radius: 5vh;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: papayawhip;
   align-items: center;
   /* padding: 10px; */
}
input{
    /* padding: 10px; */
    margin: 10px;
}
input[submit="submit"]{
    position: relative;
    right: 10px;
}