body{
    padding: 0;
    margin: 0;
    
    background-color: rgb(1, 13, 17);
}
.first{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    
}
.card{
    background-color: green;
    margin: 10px;
    
}
img{
    width: 100px;
    aspect-ratio: 1;
  
}
#id{
    position:sticky;
    right: 10px;
}